# Node.js dependencies
node_modules/

# Environment variables
.env
.env.*.local

# Log files
*.log
npm-debug.log*

# Build output
build/
dist/

# IDE-specific files
.idea/
.vscode/
*.iml

# Temporary files and cache
tmp/
.cache/